/*w : 1152px 
h_top h = 48px , h_btm h=119px color= #1e6cb3 */

header {width:1152px; margin:0 auto;}
/* 상단 메뉴 */
header #h_top {
    background-color: yellow;
    height: 49px;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header #h_top .h_t_left {
    /* h1과 nav를 옆으로 보내기 위한 부모대상 */
    display:flex; 
    flex-flow:row nowrap;
    align-items:center;
}
header #h_top .h_t_left h1 {}
header #h_top .h_t_left h1 a {}
header #h_top .h_t_left h1 a img {}
header #h_top .h_t_left nav {background-color:indianred;}
header #h_top .h_t_left nav a {}
header #h_top .h_t_right {}
header #h_top .h_t_right a {}
/* 로고 */
header #h_btm {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    background-color: springgreen;
}
header #h_btm h1 {}
header #h_btm h1 a {}
header #h_btm h1 a img {}
/* 검색어를 임력해 주세요. */
header #h_btm #searchFrm {
    background: #fff;
    border: 3px solid #1e6cb3; width:300px; padding:5px 0;
}
header #h_btm #searchFrm fieldset {}
header #h_btm #searchFrm fieldset input[name$=search] {
    width:90%; padding:3px;
    outline:none;
    border:0;
}
header #h_btm #searchFrm fieldset input[name$=search]::placeholder {color:#1e6cb3;}
header #h_btm #searchFrm fieldset #search {
    position:relative; top:3px;
}
header #h_btm #searchFrm fieldset #search img {}
header #h_btm .right {}
/* 언어설정 고르기 */
header #h_btm .r_top {
    background-color:violet;
    display:flex; 
    flex-flow:column nowrap;
    align-items: flex-end;
}
header #h_btm .r_top .r_lang {}
header #h_btm .r_top #lang {border: 1px solid #1e6cb3;}
header #h_btm .r_top #lang option {}
header #h_btm .r_top #go {
    background: #1e6cb3; color: #fff; width:36px; height:24px;
}
/* 27.5 미세먼지 좋음 */
header .r_btm {}
header .r_btm p {line-height: 1.3;}
header .r_btm p:first-child {font-size:2rem;}
/* --------------------------------------------main */
main {
    width:1152px; margin:0 auto;
    display:flex;
}
main .bnr_wrap {}
main .bnr_wrap .left {position:relative;}
main .bnr_wrap .left .bnr {}
main .bnr_wrap .left .bnr img {}
main .bnr_wrap .left .close {
    background-color: #1e6cb3; color:white;
    font-size:0.8rem;
    padding:5px;
    border: 2px solid #1e6cb3;
    border-radius:10%;
    position:absolute; right:10px; bottom:10px;
}
main .right {background-color: yellowgreen;
    margin-left:23px;
    position:relative;
}
main .right .corona {}
main .right .corona img {}
main .right .corona .date {
    position:absolute; top:15px; right:50px;
}
main .right .corona .result {}
main .right .corona .result:nth-child() {}
main .right .bnr {}
main .right .bnr img {}

/* ------------------- */

main {background-color: lightgoldenrodyellow;}
main .bnr_wrap {
    width:1152px; margin:0 auto;
    display:flex; flex-flow:row nowrap;
    justify-content: space-between;
}
main .bnr_wrap .left {
    background-color: lime;
    position:relative;
}
main .bnr_wrap .left .bnr {}
main .bnr_wrap .left .bnr img {}
main .bnr_wrap .left .close {
    display:inline-block; background: #1e6cb3; 
    color:#fff;
    padding:5px;
    position:absolute; right:10px; bottom:10px;
}
main .right {background-color: lightseagreen;}
/* 코로나 현황 */
main .right .corona {position:relative; display:block;
margin-bottom:10px;}
main .right .corona img {}
main .right .corona span {
    background-color: yellow;
    position:absolute;
    display:inline-block;
}
main .right .corona .date {
    width:139px; height:21px; right:30px; top:10px;
    text-align: right;
}
main .right .corona .result {text-align: center;}
main .right .corona .result1 {
    width:139px; height:21px;
    left:31px; top:81px;
}
main .right .corona .result2 {
    width:131px; height:21px;
    right:30px; top:81px;
}
main .right .corona .result3 {
    width:94px; height:21px;
    left:31px; bottom:52px;
}
main .right .corona .result4 {
    width:97px; height:21px;
    left:144px; bottom:52px;
}
main .right .corona .result5 {
    width: 63px;px; height:21px;
    right:30px; bottom:52px;
}
main .right .bnr {}
main .right .bnr img {}
