//변수 지정
$wh:#fff;
$borderColor:#ff7f50;
$txt1Color:#222;
$bgColor:#eee;
$bestColor:#ffe4c4;
$orderColor:#000080;
$txt2Color:#aaa;
//-------------------mixin
@mixin flex-center {
    display: flex; flex-flow: row nowrap;
    align-items: center; justify-content: center;
}
//-----------------------
//--------------------skip
/* .link,.lang, .all_nav, .sub {display: none;} */
//design
#popup {
    background-color:$bgColor ;
    padding: 10px; text-align: center; 
    a {
    color: $txt1Color;
    font-size: 0.75rem; font-weight: 600;
    }

}
header {text-align: center; margin: 0 auto;
    .headerTop { position: relative;
        h1 {padding:50px 0;
            a {img {}}
        }
        .right {
            @include flex-center;
            position: absolute; bottom: 15px; right: 0;
            li:first-child {position: relative;
                > a::after{
                    background: url(../image/arr.png) no-repeat;
                    content: ''; display: inline-block; width: 10px; height: 10px;
                    margin-left: 7px;
                }
                .lang {
                    display: block; background: #fff;
                    position: absolute; z-index: 910;
                    border: 1px solid $txt2Color; left: -50%;
                    a {font-size: 0.84rem; text-align: left;}
                }
            }
            li {  
                a {text-transform: uppercase;
                    padding: 10px 7px; display: block;
                    position: relative;
                    span {
                        font-size: 0.84rem;
                        border: 1px solid $borderColor; border-radius: 10px;
                        padding: 3px 10px;
                        position: absolute; left: -50%; top: 30px;
                        width: max-content;
                        
                    }
                }
                .lang {
                    a {
                    }
                }
                
            }
        }
        .all_nav {
            display: block; background:$wh; border: 1px solid $txt2Color;
            border-radius: 10px;
            position: fixed; left: 50%; top: 50%; transform: translate(-50%,-49%);
            width: 700px; height:500px; z-index: 999;
            text-align: center; line-height: 500px;
        }
    }
    .headerBottom {/* background-color: brown; */ 
        nav {width: 1200px; margin: 20px auto;
            background: lemonchiffon;
            > ul {
                @include flex-center;
                > li {position:relative;
                    > a {
                        font-size: 0.75rem; text-transform: uppercase;
                        padding: 15px; display: block;
                    }
                    > a:hover {color: $borderColor;}
                    .sub {border: 1px solid $txt2Color; background: $wh;
                        display: block; position:absolute; width: 100%; 
                        z-index: 900; text-align: le;
                        li {
                            a{
                                padding: 10px; display: block;
                                font-size: 0.75rem;
                            }
                        }
                    }
                }
            }
        }
    }
}//header END -------------------------------------------------
//main--------------------------------------------------------
main {
    #right_popup { 
        position :fixed;right:0;top:0; align-items: center;
        display:flex;
        #popup_btn {
            background: #fff; border: 1px solid black;
            background-image: #fff;width: 30px;
            border:1px solid $txt2Color;
            display:flex; flex-flow:column;
            a:first-child {background: #ff7f50;}
            a { width:100%; padding:10px 5px; text-align: center;
                img {}
            }
        }//popup_btn
        .contents {
            background: #fff; width:500px; border:1px solid black;height: 100vh;
            padding:30px;
            .info {margin:0 auto;
                padding:30px 100px;
                img{width:100%;}
            }//info
            .info_contents {
                text-align: center;
                color:$txt2Color; line-height: 1.5rem;
                padding-bottom:50px; font-weight: 600;
            }//info_contents
            .user {display:grid;
                    grid-template-columns:repeat(2,1fr);
                a {/* background: #333; */
                    width:200px;
                    padding:3px 5px;
                    border-bottom:1px solid $txt2Color;
                    font-weight: 600;
                    span {color:$borderColor;font-weight: 600;}
                }//user a 
            }//e:user
            .board {
                padding:30px 10px;
                display:grid;
                grid-template-columns: repeat(2,1fr);
                a{                    
                    width:200px;
                    padding:5px 0;
                    border-bottom:1px solid $txt2Color;
                }
            }//board
            h2 {font-weight: 700;padding:20px 10px;}//h2
            h2+p {
                width:200px; padding:0 10px;
                img{width:100%;}
            }//h2+p
            address {
                padding:0 10px;
                font-size:2rem;
                font-weight: 600;
                line-height: 1.5;
            }//address
            address+p {
                padding:30px 10px;
                font-size:1.2rem;
                font-weight: 500;
                line-height: 1.5;
            }//address+p
        }//contents
    }//right_popup
    .visual {}
    .event_bnr {
        width:1200px;
        margin:80px auto;
        @include grid-columns-3;
        a {margin:0 5%; height:80%;
            img {width:100%;}
        }
    }//e:event_bnr
    .weekly_best {
        @include layout;
        h2:first-child {font-weight: 700; text-align:center; padding-bottom:100px; font-size:1.2rem; text-transform: uppercase;}
        .product {
            @include grid-columns-3; @include layout;
            li {height:90%; margin:0 2%; 
                .img {
                    img{width:100%;}
                }
                > *, > * > * , > * > * > * {font-size:0.8rem;}
                h2 {margin:10px 0 5px;}
                .price {margin-bottom:30px;}
                .price > span {font-weight: 700; font-size: 0.9rem;}
                .price::after {content:''; display:block; width:100%; height:1px; background-color:$font_color2; position:relative; top:20px;}
                .btm {
                    width:100%; 
                    display:grid;
                    grid-template-columns:repeat(2,1fr);
                    .size {}
                    .review {text-align: right; color:$border_color;}
                    > p:last-child { margin:15px 0 50px;
                        .best{color:$wh; background-color: $box_best; padding:2px 5px;}
                        .order{color:$wh; background-color: $box_order; padding:2px 5px; margin-left:5px;}
                    }
                }
            }
        }//e:product
    }//e:weekly_best
    .shop_now {
        background-image: url(../images/made_img.jpg);
        background-size:100%; height:300px;
        text-align: center;
        margin:50px 0 100px;
        h2 {padding:100px 0 0; font-size:3rem; font-weight: 800; color:$wh;}
        .now {display:inline-block; margin:10px 0; padding:20px 40px; font-size:1.1rem; border:1px solid $wh; color:$wh}
    }//e:shop_now
} // e:main
footer {
    margin:80px 0;
    border-top:1px solid $font_color2;
    .container {
        @include layout;
        > * {font-size:0.8rem; }
        .footer_top {
            margin:50px 0 20px;
            a:first-child {margin: 0;}
            a {margin: 0 20px;}
        }
        address {line-height:1.5em;}
    }
}//e:footer